:root {
  --atlas-palette-header: #e2d3d0;
  --atlas-palette-heading: #713c42;
  --atlas-palette-content-heading: #3f2529;
  --atlas-palette-background: #faf8f4;
  --atlas-palette-text: #292525;
  --atlas-palette-border: #ded6cc;
}
