:root {
  --atlas-palette-header: #d6dee3;
  --atlas-palette-heading: #35576a;
  --atlas-palette-content-heading: #26353c;
  --atlas-palette-background: #f7f5ef;
  --atlas-palette-text: #242522;
  --atlas-palette-border: #ddd8cd;
}
