:root {
  --atlas-palette-header: #e7d8cd;
  --atlas-palette-heading: #865345;
  --atlas-palette-content-heading: #412e29;
  --atlas-palette-background: #faf8f4;
  --atlas-palette-panel: #fdfcf9;
  --atlas-palette-text: #2b2926;
  --atlas-palette-border: #ddd5ca;
}
